[ALCESTE]
#nombre minimum d'unités par classe, 0=calcul automatique
mincl = 0
#nombre de formes par uce, 0=calcul automatique
nbforme_uce = 0
#nombre maximum de formes actives
max_actives = 20000
#lemmatisation
lem = True
#taille du premier tableau uc/forme
tailleuc1 = 12
#nombre de classes terminales de l'analyse, NE PAS EDITER
nbcl = 4
#taille du second tableau uc/forme
tailleuc2 = 14
#mode de classification, 0=double sur UC, 1=simple sur UCE, 2=simple sur UCI
classif_mode = 1
#?????
minforme = 2
#utilisation du dictionnaire des expressions
expressions = True
#nbre de classe terminale de la phase 1
nbcl_p1 = 10
#methode pour svd
svdmethod = irlba
#mode patate (+ rapide et - precis)
mode.patate = 0

[IMAGE]
#non utilise
heigth = 400
width = 400
reso = 200
x = 1
y = 2
seuilkhi = 2
